@model IEnumerable<Family_Medical_Record.Models.DoctorFile>

@using Microsoft.AspNet.Identity;

<div class="panel-body widget-shadow">
    @if (Model.Count() > 0)
    {
        <h4>@Model.First().Doctor.FirstName @Model.First().Doctor.LastName's Files</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        @if (User.IsInRole("Admin") || item.DoctorUsername == User.Identity.GetUserName())
                        {
                            <td>@Html.ActionLink(" Download", "DownloadFile", new { id = item.DoctorFileId }, new { @class = "fa fa-download btn btn-primary btn-style" }) </td>
                            <td>@Html.ActionLink(" Delete", "DeleteFile", new { id = item.DoctorFileId }, new { @class = "fa fa-trash-o btn btn-danger btn-style" }) </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {

        <p>Nothing Found...</p>
    }
</div>