@using Microsoft.AspNet.Identity
@using Family_Medical_Record.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity;

@{
    ApplicationDbContext ADC = new ApplicationDbContext();
    var roleManager = new RoleManager<IdentityRole>(new RoleStore<IdentityRole>(ADC));
    var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(ADC));
    string uname = User.Identity.GetUserName();
    var currentUser = UserManager.Users.Where(x => x.UserName == uname).First();

    var currentRole = roleManager.FindById(currentUser.Roles.First().RoleId);
}

<div class="profile_details">
    <ul>
        <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                    <span class="prfil-img"><img src="@currentUser.Picture" alt="@currentUser.UserName" class="profileDP"> </span>
                    <div class="user-name">
                        <p>@currentUser.UserName</p>
                        <span>@currentRole.Name</span>
                    </div>
                    <i class="fa fa-angle-down lnr"></i>
                    <i class="fa fa-angle-up lnr"></i>
                    <div class="clearfix"></div>
                </div>
            </a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
        <ul class="dropdown-menu drp-mnu">
            <li> <a href="/Manage/Index" title="Profile"><i class="fa fa-user"></i> Profile</a> </li>
            @if (User.IsInRole("Customer"))
            {
                <li> <a href="/Manage/Apply" title="Profile"><i class="fa fa-stethoscope"></i> Apply as Doctor</a> </li>
            }
            <li> <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>
        </ul>
        </li>
    </ul>
</div>